# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static

# Node / Vite
node_modules
dist
dist-ssr
*.local
.vscode
.DS_Store

# Environments
venv
.env
.venv
env/
ENV/

# Scriptorium Specific
backend/venv
frontend/node_modules
frontend/dist
